<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8"/>
  <script src="js/vue.js"></script>
  <script src="js/vue-router.js"></script>
  <script src="js/axios.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/toast.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<body>
  <div id="aplication">
  	<div class="ui secondary pointing menu">
	  <a class="item" href="/#/home">
	    Home
	  </a>
	  <a class="item" v-if="mode==='ADMIN'" href="/#/coach-registration">
	    Add Coach
	  </a>
	  <a class="item" v-if="mode==='ADMIN'" href="/#/manager-registration">
	    Add Manager
	  </a>
	  <a class="item" v-if="mode==='ADMIN'" href="/#/users">
	    Users
	  </a>
	  <a class="item" v-if="mode==='ADMIN'" href="/#/add-object">
	    Add Object
	  </a>
	   <a class="item" href="/#/fees" v-if="mode==='CUSTOMER'">
	    Fees
	  </a>
	  <a class="item" href="/#/my-object" v-if="mode==='MANAGER'">
	    My Object
	  </a>
	  <a class="item" href="/#/customer-trainings" v-if="mode==='CUSTOMER'">
	    My Trainings
	  </a>
	  
	  
	  <div class="right menu">
	    <a v-if="!mode" class="ui item" href="/#/customer-registration">
	      Registration
	    </a>
	    <a v-if="!mode" class="ui item" href="/#/login">
	      Login
	    </a>
	     <a v-if="!!mode" class="ui item" href="/#/profile">
	      Profile
	    </a>
	    <button v-if="!!mode" class="ui item" v-on:click="logout">
	      Logout
	    </button>
	    
	  </div>
	</div>
	<div>
  		<router-view></router-view>
	</div>
    	
  </div>

  <script src="app/singleObject.js"></script>
  <script src="app/my-object.js"></script>
  <script src="app/customer-trainings.js"></script>
  <script src="app/blankPage.js"></script>
  <script src="app/users.js"></script>
  <script src="app/login.js"></script>
  <script src="app/home.js"></script>
  <script src="app/fees.js"></script>
  <script src="app/profile.js"></script>
  <script src="app/customer-registration.js"></script>
  <script src="app/manager-registration.js"></script>
  <script src="app/coach-registration.js"></script>
  <script src="app/add-object.js"></script>
  
  <script src="app/app.js"></script>

</body>
</html>
